@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MBK Akademi</h1>
    <P>
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Apply</a>
    </P>
</div>
